.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.join-room-container {
  display: flex;
  color: white;
  height: 100vh;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.join-room-container .title {
  font-size: 36px;
}

.image-container {
  display: flex;
  align-items: center;
  height: 100vh;
}

.videocall-container {
  position: relative;
  height: 100vh;
}

.bottom-actions-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 16px 0px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px !important;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.btn-circle.x1-5 {
  transform: scale(1.5);
  padding: 0px 0px;
  font-size: 16px;
}

.btn-circle.x2 {
  transform: scale(2);
}
